.header {
	position: absolute;
	width: 100%;
	z-index: 1;
}

.initialHeader {
	display: flex;
	height: 4rem;
}

.header .logo {
	height: 4rem;
    padding: 0.25rem 3rem;
    background-color: #242424;
}

.homePage .header .logo {
	display: none;
}

#menu {
	width: 100%;
	display: grid;
	grid-template-columns: 25% 25% 17% 17% 16%;
	grid-template-rows: 4rem auto;
}

.menuItem {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color:#72d7f8;
	color: #242424;
	fill:#242424;
	font-size: 18px;
}

.menuItem-1 {
	grid-column: 1;
	grid-row: 1;
}
.menuItem-2 {
	grid-column: 2;
	grid-row: 1;
}
.menuItem-3 {
	grid-column: 3;
	grid-row: 1;
}
.menuItem-4 {
	grid-column: 4;
	grid-row: 1;
}
.menuItem-5 {
	grid-column: 5;
	grid-row: 1;
}

.menuDropdown-1 {
	grid-column: 1 / span 3;
	grid-row: 2;
}

.menuDropdown-2 {
	grid-column: 2 / span 3;
	grid-row: 2;
}

a.menuItem {
	text-decoration: none;
	font-weight: 500;
}

#menu .chevron {
	width: 1rem;
	margin-left: 0.5rem;
}

.menuItem:hover,
.menuItem.selected,
.menuDropdown
 {
	background-color:#ddf7ff;
}

.menuDropdown {
	display: none;
	padding: 0.5rem;
	z-index: 1;
}

.menuItem.selected + .menuDropdown {
	display: flex;
}

@media (min-width: 769px) {
	.header {
		display: flex;
	}
	
	.column {
		width: 15rem;
	}
	
	.column + .column {
		margin-left: 3rem;
	}
}


.label {
	font-size: 14px;
	margin: 0.3rem;
	border-bottom: 1px dashed #464646;
}

.menuDropdown a {
	text-decoration: none;
	padding: 0.3rem;
	display: block;
	color: #3561b3;
}

.menuDropdown a:hover {
	background-color: #bfefff;
}

.hamburgerIcon {
	display: none;
}

@media (max-width: 768px) {
	.mobileHidden {
		display: none !important;
	}

	.hamburgerIcon {
		display: block;
		margin: auto;
	}

	#collapsedMenu {
		display: block;
		background-color: #72d7f8;
		width: 100%;
		padding: 1rem;
	}

	#menu {
		grid-template-columns: 100%;
		grid-template-rows: 3rem auto 3rem auto 3rem 3rem 3rem 3rem;
	}
	
	.menuItem-1 {
		grid-column: 1;
		grid-row: 1;
	}
	.menuItem-2 {
		grid-column: 1;
		grid-row: 3;
	}
	.menuItem-3 {
		grid-column: 1;
		grid-row: 5;
	}
	.menuItem-4 {
		grid-column: 1;
		grid-row: 6;
	}
	.menuItem-5 {
		grid-column: 1;
		grid-row: 7;
	}
	
	.menuDropdown-1 {
		grid-column: 1;
		grid-row: 2;
	}
	
	.menuDropdown-2 {
		grid-column: 1;
		grid-row: 4;
	}

	.menuItem.selected + .menuDropdown {
		flex-direction: column;
	}

	.column {
		width: 100%;
		margin: auto;
	}
}