$headerPrimaryBG: #23366d;
$headerSecondaryBG: #0c1f55;
$headerTertiaryBG: #383f6b;

$themePrimary: #72d7f8;
$themeLighter: #a9eaff;
$themeDarker: #3d9bed;
$themeDarkerer: #1c6fb8;

$veryLightBG: #eef7ff; //black font
$lightBG: #dbeeff; //black font
$mediumBG: #b5deff; //black font
$darkBG: #1c6fb8; //white font

$lightGray: #cecece;
$darkGray: #464646;