@charset "UTF-8";
.aboutPage {
  background-color: #eef7ff;
  width: 100%;
  padding: 2rem 10%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 13rem auto auto;
}
.aboutPage .headingArea {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  text-align: center;
  padding: 0 1rem;
}
.aboutPage .headingArea h1 {
  font-size: 4rem;
}
.aboutPage .headingArea .bioWords {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: #1c6fb8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.aboutPage .headingArea .bioWords span + span {
  margin-left: 2rem;
}
.aboutPage .headingArea .bioWords span + span::before {
  content: "•";
  margin-right: 2rem;
}
.aboutPage .headingArea .bioWords span {
  text-wrap: nowrap;
}
.aboutPage .photoWithMat {
  grid-column: 2;
  grid-row: 1/span 2;
  align-self: center;
  position: relative;
  margin: 4rem;
}
.aboutPage .photoWithMat img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.aboutPage .aboutSection {
  grid-column: 1;
  grid-row: 2;
}
.aboutPage .aboutSection .aboutContent {
  text-align: center;
  padding: 0 4rem;
}
.aboutPage .aboutSection .aboutContent .iconsContainer a {
  color: #1c6fb8;
}
.aboutPage .qualifications {
  grid-column: 2;
  grid-row: 3;
  padding: 1rem;
  max-width: 30rem;
  margin: auto;
}
.aboutPage .qualifications .qualificationIcons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.aboutPage .qualifications .qualificationIcons .circleCard {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutPage .qualifications .qualificationIcons .circleCard img {
  width: 100%;
  padding: 0.4rem;
}
.aboutPage .experience {
  grid-column: 1;
  grid-row: 3;
}
.aboutPage .experience .experienceSection {
  margin-bottom: 2rem;
}
.aboutPage .photosRow {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.aboutPage .photosRow .photo {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  margin: 0.5rem;
}
.aboutPage .photosRow .photo img {
  width: 100%;
}

@media (max-width: 1000px) {
  .aboutPage {
    display: block;
    padding: 2rem 1.5rem;
  }
  .aboutPage .headingArea {
    padding: 0;
  }
  .aboutPage .headingArea h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .aboutPage .headingArea .bioWords span + span {
    margin-left: 1rem;
  }
  .aboutPage .headingArea .bioWords span + span::before {
    margin-right: 1rem;
  }
  .aboutPage .photoWithMat {
    margin: 3rem 1rem;
    padding: 0;
    height: auto;
    width: auto;
  }
  .aboutPage .photoWithMat img {
    height: initial;
  }
  .aboutPage .aboutSection .aboutContent {
    padding: 0 2rem;
  }
  .aboutPage .qualifications {
    padding: 0;
    margin-bottom: 2rem;
  }
  .aboutPage .qualifications .qualificationIcons .circleCard {
    margin: 0.5rem;
  }
  .aboutPage .border {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutPage .photosRow img {
    width: 40%;
  }
}/*# sourceMappingURL=aboutSarah.css.map */