@import "./theme";

.aboutPage {
	background-color: $veryLightBG;
	width: 100%;
	padding: 2rem 10%;
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 13rem auto auto;

	.headingArea {
		grid-column: 1;
		grid-row: 1;
		align-self: end;
	
		text-align: center;
		padding: 0 1rem;
	
		h1 {
			font-size: 4rem;
		}
	
		.bioWords {
			width: fit-content;
			margin: auto;
			color: $themeDarkerer;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
	
			span + span {
				margin-left: 2rem;
	
				&::before {
					content: "•";
					margin-right: 2rem;
				}
			}
	
			span {
				text-wrap: nowrap;
			}
		}
	}
	
	.photoWithMat {
		grid-column: 2;
		grid-row: 1 / span 2;
		align-self: center;
		position: relative;
		margin: 4rem;
		
		img {
			width: 100%;
			position: relative;
			z-index: 1;
		}
	}
	
	.aboutSection {
		grid-column: 1;
		grid-row: 2;
	
		.aboutContent {
			text-align: center;
			padding: 0 4rem;
	
			.iconsContainer {
	
				a {
					color: $themeDarkerer;
				}
			}
		}
	}
	
	.qualifications {
		grid-column: 2;
		grid-row: 3;
	
		padding: 1rem;
		max-width: 30rem;
		margin: auto;
		
		.qualificationIcons {
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
	
			.circleCard {
				width: 6rem;
				height: 6rem;
				border-radius: 3rem;
				background-color: white;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
				display: flex;
				align-items: center;
				justify-content: center;
				
				img {
					width: 100%;
					padding: 0.4rem;
				}
			}
		}
	}
	
	.experience {
		grid-column: 1;
		grid-row: 3;
	
		.experienceSection {
			margin-bottom: 2rem;
		}
	}
	
	.photosRow {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	
		.photo {
			width: 10rem;
			height: 10rem;
			overflow: hidden;
			margin: 0.5rem;
	
			img {
				width: 100%;
			}
		}
	}
}

@media (max-width: 1000px) {
	.aboutPage {
		display: block;
		padding: 2rem 1.5rem;

		.headingArea {
			padding: 0;

			h1 {
				font-size: 2.5rem;
				font-weight: 600;
			}
	
			.bioWords {
				span + span {
					margin-left: 1rem;
					
					&::before {
						margin-right: 1rem;
					}
				}
			}
		}

		.photoWithMat {
			margin: 3rem 1rem;
			padding: 0;
			height: auto;
			width: auto;
	
			img {
				height: initial;
			}
		}
		
		.aboutSection {
			.aboutContent {
				padding: 0 2rem;
			}
		}
		
		.qualifications {
			padding: 0;
			margin-bottom: 2rem;
	
			.qualificationIcons {
				.circleCard {
					margin: 0.5rem;
				}
			}
		}
	
		.border {
			width: 40%;
			margin-left: auto;
			margin-right: auto;
		}
	
		.photosRow {
			img {
				width: 40%;
			}
		}
	}
}