.servicePage {
  background-color: #b5deff;
}
.servicePage .headingArea {
  text-align: center;
  position: relative;
  padding-bottom: 2rem;
  background-color: #1c6fb8;
}
.servicePage .headingArea::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/lightDashes.png);
  background-position-y: center;
  background-size: contain;
  background-repeat: repeat-x;
  opacity: 0.5;
}
.servicePage .headingArea h1 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  padding: 3rem 1rem 0.5rem 1rem;
  position: relative;
}
.servicePage .headingArea .quickInfo {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin: auto;
  color: rgb(255, 255, 255);
  position: relative;
}
.servicePage .headingArea .quickInfo .fa-solid {
  padding-left: 0;
}
.servicePage .pageContent {
  width: 60%;
  max-width: 95rem;
  margin-bottom: 2rem;
  margin: auto;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto auto;
  gap: 1rem;
  padding: 1rem 0;
}
.servicePage .pageContent h2 {
  padding-bottom: 1rem;
}
.servicePage .pageContent .content {
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
}
.servicePage .aboutSection {
  grid-column: 1/span 2;
  grid-row: 1;
  display: flex;
}
.servicePage .aboutSection .photo {
  position: absolute;
  top: 2rem;
  width: 22rem;
  align-self: center;
}
.servicePage .aboutSection .photo img {
  width: 100%;
  border-radius: 10px;
}
.servicePage .aboutSection .content {
  margin-left: 20rem;
  padding-left: 4rem;
  margin-top: 4rem;
  margin-right: 5rem;
}
.servicePage .pricing {
  grid-column: 1;
  grid-row: 2;
  width: 90%;
  justify-self: end;
}
.servicePage .nextSteps {
  grid-column: 2;
  grid-row: 2;
}
.servicePage .nextSteps a {
  display: block;
  margin-bottom: 1rem;
}
.servicePage .nextSteps .content {
  background-color: #eef7ff;
}
.servicePage .callButton {
  width: 100%;
  text-align: center;
}
.servicePage .callButton a {
  width: 100%;
}
.servicePage .testimonials {
  background-color: white;
  margin: 2rem 0;
  padding-top: 2rem;
}
.servicePage .testimonials .testimonialContent {
  width: 60%;
  margin: auto;
}
.servicePage .testimonials .testimonialContent .testimonialGroup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 50rem;
  width: 100%;
  gap: 1rem;
  padding-top: 1rem;
}
.servicePage .testimonials .testimonialContent .testimonialGroup .oneTestimony {
  background-color: #dbeeff;
  border-radius: 10px;
  padding: 1.5rem;
  max-width: calc(50% - 0.5rem);
  min-width: 27rem;
  color: #464646;
  font-style: italic;
}

@media (max-width: 1460px) {
  .servicePage .testimonials .testimonialGroup {
    flex-wrap: nowrap;
    max-height: initial;
  }
  .servicePage .testimonials .testimonialGroup .oneTestimony {
    max-width: 100%;
  }
}
@media (max-width: 1100px) {
  .servicePage .headingArea h1 {
    padding-top: 2rem;
    font-size: 2rem;
  }
  .servicePage .headingArea .quickInfo {
    width: 60%;
    flex-direction: column;
  }
  .servicePage .headingArea .quickInfo .infoBit {
    padding-bottom: 0.5rem;
  }
  .servicePage .pageContent {
    display: block;
    width: 100%;
    padding: 1rem;
  }
  .servicePage .aboutSection {
    display: block;
    margin-bottom: 1rem;
  }
  .servicePage .aboutSection .photo {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
  }
  .servicePage .aboutSection .content {
    margin: 0;
    padding: 2rem;
  }
  .servicePage .pricing {
    width: 100%;
    margin-bottom: 1rem;
  }
  .servicePage .testimonials .testimonialContent {
    width: 100%;
    padding: 0 1.5rem;
  }
  .servicePage .testimonials .testimonialContent .testimonialGroup {
    display: block;
    max-height: unset;
  }
  .servicePage .testimonials .testimonialContent .testimonialGroup .oneTestimony {
    min-width: 0;
    max-width: 100%;
    margin: 1rem 0;
  }
}/*# sourceMappingURL=services.css.map */