@import "./theme";

* {
    margin: 0;
    padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	box-sizing: border-box;
}

h1, h2, h3 {
	color: $themeDarkerer;
}

h1 {
	font-size: 2.5rem;
	font-weight: 600;
}

h2, h3 {
	font-weight: 400;
}

p {
	color: #272727;
}

/* Gives some spacing between text things */

h3 + * {
	margin-top: 1rem;
}

.callOutText {
	font-size: 1.25rem;
	color: $darkGray;
	font-family: "Swanky and Moo Moo", cursive;
}

p + * {
	margin-top: 1rem;
}

.hidden {
	display: none !important;
}

.section {
	width: 100%;
	position: relative;
}

.pageContent {
	position: relative;
}

.card {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 1.5rem;
}

.coloredCard {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	
	h2 {
		font-size: 3rem;
	}

	.content {
		padding: 1rem 0;

		p {
			margin-top: 0.5rem;
		}

		.button {
			float: right;
		}
	}
}

.description {
	font-size: 13px;
	color: $darkGray;
	font-style: italic;
	margin-bottom: 0.5rem;
}

.border {
	width: 100%;
	margin: 2rem 0;
	border-bottom: 1px dashed $darkGray;
}

a.button {
    width: fit-content;
    display: block;
    background-color: $darkBG;
    border-radius: 0.5rem;
    padding: 0.75rem;
    text-decoration: none;
	color: white;
	font-weight: 500;

	:visited {
		color: inherit;
	}
}

i {
	padding: 0 0.5rem;
}

ul {
	padding-left: 1rem; //get rid of the default indentation

	&.extraSpacing li {
		margin-bottom: 0.5rem //a bit of space between each list item
	}
}

.photoWithMat {
	position: relative;

	.mat {
		width: 100%;
		height: 100%;
		position: absolute;
		
		&.darkMat {
			transform: rotate(-10deg);
			background: $darkBG;
		}
	
		&.lightMat {
			transform: rotate(8deg);
			background: $mediumBG;
		}
	}

	img {
		position: relative;
		z-index: 1;
		width: 100%;
	}
}

.appearOnScroll {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.appearOnScroll.appear {
	opacity: 1;
}

  
@media(max-width:850px) {
	.waveContainer::before {    
		height: 38.5px
	}  

	.mobileHide {
		display: none;
	}
}

@media(min-width:851px) {
	.mobileOnly {
		display: none;
	}
}