<link rel="stylesheet" href="components/footer.css">
<script src="https://kit.fontawesome.com/d6a302b9c4.js" crossorigin="anonymous"></script>

<div id="footer">
	<div class="topSection">
		<div class="block">
			<img src="images/bestOfMadison.png" />
		</div>
		<div class="block">
			<h4>Contact</h4>
			<div>sarah@bluedogtraining.com</div>
			<div>908-111-2222</div>
			<div>1830 Helena St, Madison, WI 53704</div>
		</div>
		<div class="block">
			<h4>Social media</h4>
			<a href="https://www.instagram.com/sarahkalnajs" aria-label="sarah's instagram"><i class="fa fa-instagram"></i> sarahkalnajs</a>
			<a href="https://www.youtube.com/@sarahkalnajs5810"><i class="fa fa-youtube"></i> sarahkalnajs5810</a>
            <a href="https://www.facebook.com/BlueDogTrainingAndBehavior"><i class="fa fa-facebook"></i> BlueDogTrainingAndBehavior</a>
		</div>
	</div>
	<div class="bottomSection">
		© 2024 Blue Dog Training and Behavior
	</div>
	
</div>