<link rel="stylesheet" href="components/styles/header.css">
<div class="header">
	<img class="logo" src="images/blueDogLogo.png">
	<div class="menu">
		<a href="#" id="trainingServicesMenuItem" class="menuItem menuItem-1" onclick="expandTrainingServices()">
			Training services
			<img class="chevron" src="images/down-chevron.svg"/>
		</a>
		<div id="trainingServicesDropdown" class="menuDropdown menuDropdown-1 hidden">
			<div class="column">
				<div class="label">For puppies</div>
				<a href="#">
					<div>Stay and train</div>
					<div class="description">Let your new puppy pee in Sarah's house instead of yours</div>
				</a>
				<a href="#">
					<div>New puppy ABCs</div>
					<div class="description">Set your new puppy up for success in the most critical time period of their life</div>
				</a>
			</div>
			<div class="column">
				<div class="label">For all dogs</div>
				<a href="#">
					<div>New dog ABCs</div>
					<div class="description">Set your new dog up for success</div>
				</a>
				<a href="#">
					<div>Behavior modification</div>
					<div class="description">Help with problem behaviors</div>
				</a>
				<a href="#">
					<div>Behavior modification</div>
					<div class="description">Help with problem behaviors</div>
				</a>
			</div>
		</div>
		<a href="#" id="professionalServicesMenuItem" class="menuItem menuItem-2" onclick="expandProfessionalServices()">
			Professional services
			<img class="chevron" src="images/down-chevron.svg"/>
		</a>
		<div id="professionalServicesDropdown" class="menuDropdown menuDropdown-2 hidden">
			<div class="column">
				<div class="label">A thing</div>
				<a href="#">
					<div>Hello</div>
					<div class="description">Doing stuff</div>
				</a>
				<a href="#">
					<div>New puppy ABCs</div>
					<div class="description">Set your new puppy up for success in the most critical time period of their life</div>
				</a>
			</div>
			<div class="column">
				<div class="label">For all dogs</div>
				<a href="#">
					<div>New dog ABCs</div>
					<div class="description">Set your new dog up for success</div>
				</a>
				<a href="#">
					<div>Behavior modification</div>
					<div class="description">Help with problem behaviors</div>
				</a>
				<a href="#">
					<div>Behavior modification</div>
					<div class="description">Help with problem behaviors</div>
				</a>
			</div>
		</div>
		<a href="#" class="menuItem menuItem-3">
			Products
		</a>
		<a href="#" class="menuItem menuItem-4">
			Contact
		</a>
		<a href="#" class="menuItem menuItem-5">
			Other thing
		</a>
		<a href="#" class="menuItem menuItem-6">
			Other thing
		</a>
		<a href="#" class="menuItem menuItem-7">
			Other thing
		</a>
	</div>
</div>