<link rel="stylesheet" href="components/styles/header.css">
<div class="header">
	<div class="initialHeader">
		<a href="home.html"><img class="logo" src="images/blueDogLogo-white.png"></a>
		<a href="#" id="collapsedMenu">
			<img class="hamburgerIcon" src="images/hamburger.svg"/>
		</a>
	</div>
	<div id="menu" class="mobileHidden">
		<a href="#" id="trainingServicesMenuItem" class="menuItem menuItem-1">
			Training services
			<img class="chevron" src="images/down-chevron.svg"/>
		</a>
		<div id="trainingServicesDropdown" class="menuDropdown menuDropdown-1">
			<div class="column">
				<div class="label">For puppies</div>
				<a href="../puppy-stay-and-train.html">
					<div>Stay and train</div>
					<div class="description">Let your new puppy pee in Sarah's house instead of yours</div>
				</a>
				<a href="#">
					<div>New puppy ABCs</div>
					<div class="description">Set your new puppy up for success in the most critical time period of their life</div>
				</a>
			</div>
			<div class="column">
				<div class="label">For all dogs</div>
				<a href="#">
					<div>New dog ABCs</div>
					<div class="description">Set your new dog up for success</div>
				</a>
				<a href="#">
					<div>Behavior modification</div>
					<div class="description">Help with problem behaviors</div>
				</a>
				<a href="#">
					<div>Baby prep</div>
					<div class="description">Prepare your dog for your new arrival</div>
				</a>
				<a href="#">
					<div>Skills training</div>
					<div class="description">Keep or remove this?</div>
				</a>
			</div>
			<div class="column">
				<div class="label">Assessments</div>
				<a href="#">
					<div>Temperament testing</div>
					<div class="description">Test temperament</div>
				</a>
				<a href="#">
					<div>Behavior assessment</div>
					<div class="description">Give it to me straight. How bad is it?</div>
				</a>
				<a href="#">
					<div>Picking a new dog</div>
					<div class="description">How not to end up with a Kiwi</div>
				</a>
			</div>
		</div>
		<a href="#" id="professionalServicesMenuItem" class="menuItem menuItem-2">
			Professional services
			<img class="chevron" src="images/down-chevron.svg"/>
		</a>
		<div id="professionalServicesDropdown" class="menuDropdown menuDropdown-2">
			<div class="column">
				<div class="label">Education</div>
				<a href="#">
					<div>Seminar/webinar speaker</div>
					<div class="description">International speaker at 100+ seminars</div>
				</a>
				<a href="#">
					<div>Professional development seminars</div>
					<div class="description">Need your people to understand how to enter homes with dogs and stuff?</div>
				</a>
				<a href="#">
					<div>Shelter staff training</div>
					<div class="description">Sarah does this too</div>
				</a>
				<a href="#">
					<div>Mentoring</div>
					<div class="description">Sarah will upload her brain into your brain slowly over time</div>
				</a>
			</div>
			<div class="column">
				<div class="label">Other</div>
				<a href="#">
					<div>Freelance writing</div>
					<div class="description"></div>
				</a>
				<a href="#">
					<div>Dog bite expert witness</div>
					<div class="description"></div>
				</a>
				<a href="#">
					<div>Media interview</div>
					<div class="description"></div>
				</a>
			</div>
		</div>
		<a href="#" class="menuItem menuItem-4">
			About Sarah
		</a>
		<a href="#" class="menuItem menuItem-3">
			Products
		</a>
		<a href="#" class="menuItem menuItem-5">
			Contact
		</a>
	</div>
</div>