<link rel="stylesheet" href="components/header-menu.css">
<script src="https://kit.fontawesome.com/d6a302b9c4.js" crossorigin="anonymous"></script>
<div class="header">
	<a href="" class="logo" aria-label="navigate to home page">
		<img class="logoImg" src="images/blueDogLogo-white.png" alt="blue dog logo"/>
	</a>
	<div class="menuGroup">
		<a href="#" id="mobileMenu" aria-label="show menu">
			<i class="fa-solid fa-bars"></i>
		</a>
	
		<div id="menu" class="mobileHidden">
			<a href="#" id="trainingServicesMenuItem" class="menuItem menuItem-1">
				<i class="fa-solid fa-paw"></i>
				Services
				<i class="fa-solid fa-sort-down"></i>
			</a>
			<div id="trainingServicesDropdown" class="menuDropdown menuDropdown-1">
				<div class="column">
					<div class="label">Live well with your dog</div>
					<a href="#" class="promotedOption">
						<div>Get started with a free phone call</div>
						<div class="description">We'll determine the right service for you and come up with a solid plan together.</div>
					</a>
					<a href="pickingNewDog">
						<div>Picking your next dog</div>
						<div class="description">Looking to get your first dog or adding another to your family? Get expert guidance on decision points.</div>
					</a>
					<a href="stayAndTrain">
						<div>Stay and train</div>
						<div class="description">A few weeks of training camp in a home environment</div>
					</a>
					<a href="newDog">
						<div>Rock-solid fundamentals</div>
						<div class="description">Got a new dog or puppy? Set them up for a lifetime of success from the start and learn how to avoid common mistakes.</div>
					</a>
					<a href="lifeSkills">
						<div>Life skills training</div>
						<div class="description">Want to go on off-leash adventures? Bringing home a new baby or another dog? We'll streamline whatever you're working on.</div>
					</a>
					<a href="behaviorModification">
						<div>Behavior modification</div>
						<div class="description">Work with problem behaviors, or just get a professional opinion</div>
					</a>
					<a href="serviceDog">
						<div>Service dog training</div>
						<div class="description">Work on tasking, public access, and more</div>
					</a>
					<a href="behaviorAssessment">
						<div>Behavior assessments</div>
						<div class="description">It's a good service</div>
					</a>
				</div>
				<div class="column">
					<div class="label">Education and professional services</div>
					<a href="seminars">
						<div>Seminar/webinar speaker</div>
						<div class="description">International speaker at 100+ seminars, professional development, shelter staff training</div>
					</a>
					<a href="mentoring">
						<div>Mentoring</div>
						<div class="description">Sarah will upload her brain into your brain slowly over time</div>
					</a>
					<a href="witness">
						<div>Dog bite expert witness</div>
						<div class="description">Sarah has been an expert witness for dog bites like a million times</div>
					</a>
				</div>
			</div>
			<a href="animalActors" class="menuItem menuItem-4">
				<i class="fa-solid fa-clapperboard"></i>
				Animal actors
			</a>
			<a href="about" class="menuItem menuItem-4">
				<i class="fa-solid fa-user-large"></i>
				About Sarah
			</a>
			<a href="products" class="menuItem menuItem-3">
				<i class="fa-solid fa-tag"></i>
				Products
			</a>
		</div>
		<div class="contact">
			<a href="https://www.instagram.com/sarahkalnajs" aria-label="sarah's instagram"><i class="fa fa-instagram"></i></a>
			<a href="mailto: sarah@bluedogtraining.com" aria-label="email blue dog"><i class="fa fa-envelope"></i></a>
			<a href="tel:+16082135304" class="headerPhone mobileHidden" aria-label="call blue dog">608-213-5304</a>
		</div>
	</div>
</div>