@import "./theme";

.banner {
	background-image: url('../images/darkDashes.png');
    background-size: contain;
    background-position-x: -13rem;
    background-position-y: 60%;
    text-align: center;
    padding: 2rem;

	h1 {
		color: white;
	}

	p {
		color: white;
	}

	.button {
		margin: auto;
		margin-top: 1rem;
		padding: 0.5rem 1rem;
		line-height: 1.5rem;
	}
}

.sarahSection {
	padding: 2rem;
	overflow: hidden;
	background-image: url('../images/polkaDotBg.png');
	background-size: cover;
	background-color: $mediumBG;
	height: 38rem;
	position: relative;

	.tagline {
		text-align: center;
		margin-bottom: 1rem;

		span {
			color: $themeDarkerer;
			font-size: 2.5rem;
			font-weight: lighter;
			margin: 0 1rem;
			font-family: Georgia, 'Times New Roman', Times, serif
		}
	}

	.roundImgContainer {
		position: absolute;
		border-radius: 7rem 19rem;
		width: 49rem;
		height: 40rem;
		overflow: hidden;
		left: -6rem;
		top: 7rem;
	}

	.textContent {
		position: relative;
		top: 5rem;
		width: calc(100% - 48rem);

		&.appearOnScroll {
			left: 37%;
			transition:
				left 0.5s ease-in-out,
				opacity 0.5s ease-in-out;
		}
		
		&.appearOnScroll.appear {
			left: 43rem;
		}
	}
}

.featuredSection {
	padding: 1rem 1rem 3rem 1rem;
	background-color: $lightBG;
	
	.featuresContainer {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2rem;
		max-width: 125rem;
		margin: auto;
	}

	.featuredService {
		display: flex;
		width: 55rem;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
		border-radius: 1rem;
		overflow: hidden;
		height: 26rem;
	
		.border {
			margin: 0.5rem 0;
		}
	
		&:nth-child(1) {
			.serviceContent{
				background-color: #f3c5ff;
			}
	
			h2, i {
				color: #a04ab6;
			}
		}
	
		&:nth-child(2) {
			.serviceContent{
				background-color: #c7fadd;
			}
	
			h2 {
				color: #249454;
			}
		}

		&:nth-child(3) {
			.serviceContent{
				background-color: #fae0c7;
			}
	
			h2 {
				color: #cc7c32;
			}
		}

		&:nth-child(4) {
			.serviceContent{
				background-color: #f9fac7;
			}
	
			h2 {
				color: #e4ba30;
			}
		}
	
		.serviceImageContainer {
			width: 50%;
			overflow: hidden;
	
			img {
				width: 100%;
				min-height: 100%;
			}
		}
	
		.serviceContent {
			padding: 2rem;
			width: 65%;
			background-image: url('../images/polkaDotBg.png');
			background-size: cover;
			display: flex;
			flex-direction: column;
	
			h2 {
				font-size: 2rem;
				margin-bottom: 0.5rem;
			}
	
			.checkboxTable {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				max-height: 7rem;
				width: 20rem;
	
				.checkItem {
					max-width: 14rem;
					height: 2rem;
				}
			}
	
			.blurb {
				height: 100%;
				max-width: 50rem;
			}
	
			.button {
				float: right;
			}
		}
	}
}


.reviewsSection {
	background-image: linear-gradient(#ffffffcc, #ffffffcc), url('../images/mapBG.png');
	background-size: cover;
	background-position: center;

	.widgetContainer {
		width: fit-content;
		padding-left: 74px; //needed to center because the widget has arbitrary space on the right and we can't control that
		padding-bottom: 2rem;
		margin: auto;
	}
}

.whySection {
	background-color: $darkBG;
	min-height: 40rem;
	padding: 0 2rem 2rem 2rem;

	h1, h2 {
		color: $themeLighter;
	}

	p, a {
		color: white;
	}

	.textContent {
		width: 50%;
		padding-left: 5rem;
		padding-right: 1rem;
	}

	.quote {
		background-image: linear-gradient(#1c6fb899, #1c6fb899), url(../images/quote.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		padding: 4rem 5rem 5rem 7rem;
		height: 30rem;
		font-style: italic;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.featuredSection, .reviewsSection, .whySection {
	h1 {
		text-align: center;
		padding-top: 2rem;
		padding-bottom: 3rem;
	}
}

@media (max-width: 1100px) {
	.banner {
		h1 {
			font-size: 2rem;
		}
	}

	.sarahSection{
		background-image: url("../images/sarahWithShelties2.png");
		background-position-x: 50%;
		padding: 0;

		.tagline {
			margin: 1rem 0.5rem;
			position: relative;
			text-align: left;

			span {
				background: #00000060;
				border-radius: 0.75rem;
				display: block;
				font-size: 1.5rem;
				color: white;
				margin: 0.25rem;
				font-weight: normal;
				width: fit-content;
				padding: 0.5rem;
			}
		}

		.roundImgContainer {
			display: none;
		}

		.textContent {
			position: absolute;
			top: unset;
			bottom: 0;
			width: 100%;
			background-color: rgba(255, 255, 255, 0.9);
			padding: 1rem;

			h1 {
				font-size: 2rem;
			}

			&.appearOnScroll {
				left: 0;
				bottom: -0.5rem;
				transition:
					bottom 0.5s ease-in-out,
					opacity 0.5s ease-in-out;
			}

			&.appearOnScroll.appear {
				left: 0;
				bottom: 0;
			}
		}
	}

	.whySection {
		.flexParent {
			flex-direction: column;
		}
		.textContent {
			width: 100%;
			padding: 0 0 2rem 0;
		}
	
		.quote {
			margin: auto;
			width: 100%;
			padding: 10%;
		}
	}

	.featuredSection {

		.featuresContainer {
			flex-direction: column;
			align-items: center;
		}

		.featuredService {
			flex-direction: column;
			width: 100%;
			max-width: 26rem;
			height: unset;
	
			.serviceImageContainer {
				width: 100%;
				height: 22rem;

				img {
					width: 100%;
					height: unset;
					left: unset;
					right: unset;
				}
			}
	
			.serviceContent {
				width: 100%;
			}
	
			.buttonContainer {
				padding-top: 1rem;
			}
		}
	}
}