.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../images/bonePattern.jpg");
  background-size: cover;
  text-align: center;
  padding: 2rem;
  z-index: -1;
}
.banner h2 {
  font-size: 2.5rem;
  color: white;
}
.banner p {
  color: white;
}
.banner .button {
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
}
.banner .wave {
  position: absolute;
  left: 0;
  top: -7.5rem;
}

.sarahSection {
  padding: 2rem;
  overflow: hidden;
}
.sarahSection .sarahPhoto {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/SarahWithDogs.png);
  background-size: 62rem;
  background-position-y: -1rem;
  background-repeat: no-repeat;
}
.sarahSection .sarahPhoto::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 39rem;
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(226, 238, 255) 17%);
  height: 100%;
  height: 100%;
  width: 100%;
}
.sarahSection .sarahPhoto img {
  position: relative;
  width: 62rem;
  top: -11rem;
}
.sarahSection .aboutSarah {
  position: relative;
  float: right;
  max-width: 50rem;
}

.featuredService {
  display: flex;
}
.featuredService.feature-1 .serviceContent {
  background-color: #f3c5ff;
}
.featuredService.feature-1 .serviceContent h2, .featuredService.feature-1 .serviceContent i {
  color: #a04ab6;
}
.featuredService.feature-2 .serviceContent {
  background-color: #c7fadd;
}
.featuredService.feature-2 .serviceContent h2 {
  color: #249454;
}
.featuredService .serviceImageContainer {
  width: 35%;
  max-height: 30rem;
  overflow: hidden;
}
.featuredService .serviceImageContainer img {
  width: 100%;
}
.featuredService .serviceContent {
  padding: 2rem;
  width: 65%;
  background-image: url("../images/polkaDotBg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.featuredService .serviceContent h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.featuredService .serviceContent .checkboxTable {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 9rem;
  width: 20rem;
}
.featuredService .serviceContent .checkboxTable .checkItem {
  max-width: 14rem;
  height: 2rem;
}
.featuredService .serviceContent .blurb {
  height: 100%;
  max-width: 50rem;
}
.featuredService .serviceContent .button {
  float: right;
}

.reviewsSection {
  background-color: white;
}
.reviewsSection .hello {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

@media (max-width: 1100px) {
  .sarahSection .aboutSarah {
    left: 0;
    margin: 20rem 0 3rem 0;
  }
  .sarahSection .sarahPhoto::after {
    left: 0;
    top: 21rem;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(226, 238, 255) 100%);
  }
  .sarahSection .sarahPhoto img {
    width: 100%;
    top: -3rem;
  }
  .featuredService {
    flex-direction: column;
  }
  .featuredService .serviceImageContainer {
    width: 100%;
  }
  .featuredService .serviceContent {
    width: 100%;
  }
  .featureCard {
    width: 100%;
    max-width: 25rem;
    margin: 1rem auto;
  }
  .reviewsSection {
    display: none;
  }
}/*# sourceMappingURL=home.css.map */