.banner {
  background: linear-gradient(rgba(0, 21, 39, 0.8117647059), rgba(0, 21, 39, 0.8117647059)), url(../images/dotted.jpg);
  background-size: 130%;
  background-position-x: -13rem;
  background-position-y: 60%;
  text-align: center;
  padding: 2rem;
}
.banner h1 {
  color: white;
}
.banner p {
  color: white;
}
.banner .button {
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
}
.banner .wave {
  position: absolute;
  left: 0;
  top: -7.5rem;
}

.sarahSection {
  padding: 2rem;
  overflow: hidden;
}
.sarahSection .sarahPhoto {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.sarahSection .sarahPhoto::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 46rem;
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(142, 164, 183) 13%);
  height: 100%;
  height: 100%;
  width: 100%;
}
.sarahSection .sarahPhoto img {
  position: relative;
  width: 62rem;
  top: -11rem;
}
.sarahSection .aboutSarah {
  position: relative;
  float: right;
  max-width: 50rem;
  background-color: #dbeeff;
  border-radius: 0 130px;
  padding: 2rem;
}
.sarahSection .aboutSarah .border {
  margin: 0.5rem 0;
}
.sarahSection .aboutSarah h2 {
  font-size: 1rem;
  font-weight: 600;
}

.featuredSection {
  padding: 1rem;
}
.featuredSection h1 {
  text-align: center;
  padding: 2rem;
}
.featuredSection .featuredService {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  overflow: hidden;
}
.featuredSection .featuredService .border {
  margin: 0.5rem 0;
}
.featuredSection .featuredService.feature-1 .serviceContent {
  background-color: #f3c5ff;
}
.featuredSection .featuredService.feature-1 .serviceContent h2, .featuredSection .featuredService.feature-1 .serviceContent i {
  color: #a04ab6;
}
.featuredSection .featuredService.feature-2 .serviceContent {
  background-color: #c7fadd;
}
.featuredSection .featuredService.feature-2 .serviceContent h2 {
  color: #249454;
}
.featuredSection .featuredService.feature-3 .serviceContent {
  background-color: #fae0c7;
}
.featuredSection .featuredService.feature-3 .serviceContent h2 {
  color: #cc7c32;
}
.featuredSection .featuredService .serviceImageContainer {
  width: 40%;
  max-height: 30rem;
  overflow: hidden;
}
.featuredSection .featuredService .serviceImageContainer img {
  width: 100%;
}
.featuredSection .featuredService .serviceContent {
  padding: 2rem;
  width: 65%;
  background-image: url("../images/polkaDotBg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.featuredSection .featuredService .serviceContent h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.featuredSection .featuredService .serviceContent .checkboxTable {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 7rem;
  width: 20rem;
}
.featuredSection .featuredService .serviceContent .checkboxTable .checkItem {
  max-width: 14rem;
  height: 2rem;
}
.featuredSection .featuredService .serviceContent .blurb {
  height: 100%;
  max-width: 50rem;
}
.featuredSection .featuredService .serviceContent .button {
  float: right;
}

.reviewsSection {
  background-color: white;
}
.reviewsSection .hello {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

@media (max-width: 1100px) {
  .banner h1 {
    font-size: 2rem;
  }
  .sarahSection .aboutSarah {
    left: 0;
    margin: 20rem 0 3rem 0;
    border-radius: 0 50px;
  }
  .sarahSection .sarahPhoto {
    min-height: 19rem;
  }
  .sarahSection .sarahPhoto::after {
    left: 0;
    top: 16rem;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(142, 164, 183) 13%);
  }
  .sarahSection .sarahPhoto img {
    width: 100%;
    top: -3rem;
  }
  .featuredSection .featuredService {
    flex-direction: column;
  }
  .featuredSection .featuredService.feature-2 {
    flex-direction: column-reverse;
  }
  .featuredSection .featuredService .serviceImageContainer {
    width: 100%;
  }
  .featuredSection .featuredService .serviceContent {
    width: 100%;
  }
  .featuredSection .featuredService .buttonContainer {
    padding-top: 1rem;
  }
  .reviewsSection {
    display: none;
  }
}/*# sourceMappingURL=home.css.map */