* {
    margin: 0;
    padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

.hidden {
	display: none !important;
}

.section {
	width: 100%;
	position: relative;
}

.poster {
	height: 25rem;
	top: 5rem;
	background-color: #242424;
}

.posterLeft {
	width: 32rem;
	height: 100%;
	padding: 2rem;
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.posterLeft img {
	width: 23rem;
	margin: 0 auto;
}

.posterLeft .call {
	width: 27rem;
	text-align: center;
	font-size: 18px;
	padding: 1rem;
	margin: 0 auto;
    background-color: rgb(114, 215, 248);
	border-radius: 0.5rem;
}

.sarahSection {
	height: 25rem;
}

.featuredServices {
	height: 25rem;
	background-color: purple;
}

.reviewsSection {
	height: 25rem;
	background-color: pink;
}

.chevron {
	margin-left: 0.5rem;
}