$headerPrimaryBG: #23366d;
$headerSecondaryBG: #0c1f55;
$headerTertiaryBG: #383f6b;

$themePrimary: #72d7f8;
$themeLighter: #a9eaff;
$themeDarker: #3d9bed;
$themeDarkerer: #1c6fb8;

$lightBG: #dbeeff;
$mediumBG: #b5deff;
$mediumDarkBG: #3e8bcf;
$darkBG: #1c6fb8;

$lightGray: #cecece;
$darkGray: #464646;